



.container-pdf {
  
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 80rem !important;
  margin: 83px auto !important;
  padding: 30px 2.5rem !important;
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
  min-width: 120px !important;
  margin-right: 8px;
}

.form-group:last-child {
  margin-right: 0;
}

label {
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
}

input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 12px;
}

button {
  padding: 0px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 22px;

  width: 108px;
  height: 38px;
  
}
.gen-pdf-btn{
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #218838;
}

.item-summary {
  font-size: 12px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: -15px; /* Add some spacing above the button */
}

@media print {
  button {
    display: none !important; /* Hide all buttons when printing */
  }
} 
form input[type='email'],
form input[type='number'],
form input[type='password'],
form input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 0px;
 
  border: 0;
  border: 1px solid #ddd;
  outline: none;
  box-sizing: border-box;
}



/* added css */

/* .container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-box {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
 */